/**
 *  优化新改版规范
 *  tips:
 *  所有颜色命名均以用到的区域定义，这里只定义公共大类的颜色
 *  私有颜色写到private.styl
 */

// 主色区域
$color-main = #4C84FF // 主颜色
$color-sub = #394045 // 副颜色

// 辅助色区域
$color-background = #F4F8F9 // 背景色
$color-line = #F3F2F7 // 线条颜色
$color-disable = #E5E4EB // 不可点击颜色
$color-btn = #4C84FF // 按钮蓝色颜色
$color-white = #FFF

// 文字色区域
$color-text-main = #4E5983 // 主文字色
$color-text-sub = #C0C4D1 // 副文字色
$color-text-assist = #868DAA // 辅助文字颜色
$color-text-tab = #B2B3B5 // tab文字颜色

// 字体
$font-family-din = 'DIN Alternate'
$font-family-regular = 'PingFangSC-Regular'
$font-family-light = 'PingFangSC-Light'
$font-family-medium = 'PingFangSC-Medium'
$font-family-bold = 'PingFangSC-Semibold'
$font-family-impact = 'Impact'
$font-family-thin = 'PingFangSC-Thin'
$font-family-din-bold = 'DINAlternate-Bold'
$font-family-lucid = 'LucidaGrande'

// 字体定义规范
$font-size-10 = 10px
$font-size-11 = 11px
$font-size-12 = 12px
$font-size-13 = 13px
$font-size-14 = 14px
$font-size-16 = 16px
$font-size-17 = 17px
$font-size-18 = 18px
$font-size-19 = 19px
$font-size-20 = 20px
$font-size-21 = 21px
$font-size-22 = 22px
$font-size-24 = 24px
$font-size-25 = 25px
